GOOGLE_API_KEY=your_key_here

QDRANT_URL=your_cluster_url
QDRANT_API_KEY=your_key

NOTION_TOKEN=your_secret_here

LANGFLOW_URL=http://localhost:7860
LANGFLOW_FLOW_ID=langflow_id 

PAPERS_STORAGE_PATH=D:\scholarsync\storage\papers
CHUNKS_STORAGE_PATH=D:\scholarsync\data\chunks

BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
